<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div id ="menu">
    <table border="1">
        <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/viewData">See Data</a></td>
            <td><a href="/addData">Add Data</a></td>
        </tr>
</table>
</div>
    <h1>Hello World!</h1> 
</body>
</html>
